 /* Global Styles */

body {
	width: 100%;
	margin:0;
	font-family: "Asap", sans-serif;
}

.blue-filter {
	background: linear-gradient(rgba(36, 105, 159, 0.8), rgba(36, 105, 159, 0.8));
}

/* Header */
header {          
	background: linear-gradient(rgba(36, 105, 159, 0.8), rgba(36, 105, 159, 0.8)), url("Images/surf_banner.jpg");background-size: cover; 
	font-family: 'Nunito', sans-serif;
	height:400px;
}

a.home {
	font-family: Asap;
	text-transform: uppercase;
	float:left;
}

img.home {
	vertical-align: middle;
	padding-right: 15px;
}

header h1 {
	text-transform: uppercase;
	width: 100%;
	font-size: 80px;
	color: white;
	padding: 160px 0 0 0;
	margin: 0 auto;
	text-align: center;
}

header h2 {
	font-family: 'Asap', sans-serif;
	font-size: 12px;
	width:100%; 
	text-align: center; 
}

header nav a {
	float: right;
	text-decoration: none;
	padding: 10px;
	font-family: Oswald;
	text-transform: uppercase;
	color: black;
}

/* Main */
.main {
	width: 550px;
	margin: 0 0 0 150px;
  	float: left;
}

h2.main {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	margin: 50px 0 20px 0;
	text-align: left;
	color: #142a3e;
}

p.text {
	padding: 20px 0;
	text-align: justify;
}

.block-quote {
	margin: 200px;
	border-left: solid 2px gray;
	color: #20659c;
	text-transform: uppercase;
	font-size: 24px;
	margin: 15px;
	padding: 15px;
}

p#byline {
	color: gray;
	display: inline;
	font-size: 12px;
}

img#tinyauthorpic {
	width: 40px;
	height: 40px;#142a3e
	border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}

ul.buttons  {
	display: inline-flex;
	list-style-type: none;
	color: gray;
	padding: 20px;
}

li.buttons {
	padding: 10px 10px;
	border: solid 3px white;
	margin: 0;
	background: gray;
	color: white;
	font-size: 13px;

}

span.blue {
	color: #20659c;
	font-weight: bold;
}

/* Sidebar */
aside {
	width: 250px;
	float: right;
	margin-right: 150px;
}

aside h2 {
	font-family: "Oswald", sans-serif;
	color: #20659c;
	font-size: 16px;
	text-transform: uppercase;
}

aside h3 {
	color: #20659c;
	font-size: 18px;
	text-transform: uppercase;
}

aside p {
	color: gray;
	text-align: left;	
}

aside a {
	text-decoration: none;
	font-family: "Asap", sans-serif;
	font-size: 10px;
}

aside img {
	height: 200px;
	width: 250px;
	background: linear-gradient(rgba(36, 105, 159, 0.8), rgba(36, 105, 159, 0.8))
}

img#authorpic {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 50px;
	display: inline;
}

nav#social-links {

}

#social-links a {
	color: gray;
	font-size: 12px;
	text-decoration: none;
}

/* Section: Popular Posts */
section h2 {
	text-transform: uppercase;
	font-size: 48px;
	clear:both;
	padding: 150 px;
	background: none;
	font-family: Oswald;
	padding: 25px 0;
	text-align: center;
	color: #142a3e;
}

section {
	width: 100%;
	display: inline-block;
}

section img {
	height: 250px;
	width: 25%;
}
section li {
	font-family: Oswald;
	text-transform: uppercase;
	text-align: bottom;
 }

 #posts li 

/* Bottom Footer*/

footer {
	margin: 0;
	bottom: 0;
	background: #152a3e;
	height: 80px;
	color: lightslategray;
	font-size: 13px;
	clear: both;
}

footer li {
	display: inline;
	vertical-align: center;
	font-size: 13px;
	float: right;
	text-align: right;

}
footer ul {
	float: right;
	padding: 20px;
	margin-right: 30px;
}

footer p {
	color: gray;
	font-size: 12px;
	float: left;
	vertical-align: middle;
	padding: 20px;
}

 footer img {
 	height: 50px;
 	margin: 150 px;
 	padding: 20 10 20 150;
 	float: left;
 	vertical-align: middle;
 }

	