 /* Global Styles */

body {
	width: 100%;
	margin:0;
	font-family: "Asap", sans-serif;
	font-size: 14px;
}


div.blue-filter div {
	background-color: #24699f;
	opacity: 0.5;
}

/* Header */
header {          
	background: linear-gradient(rgba(36, 105, 159, 0.8), rgba(36, 105, 159, 0.8)), url("Images/surf_banner.jpg");
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	height:380px;
}

@media (max-width: 320px) {
	header {
		height: auto;
		}
}

header h1 {
	text-transform: uppercase;
	width: 100%;
	font-size: 80px;
	color: white;
	padding: 160px 0 0 0;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 320px) {
	header h1 {
		font-size: 24px;
		padding: 10px 0;
	}
}


header h2 {
	font-family: 'Asap', sans-serif;
	font-size: 11px;
	width:100%; 
	text-align: center; 
}


header nav {
	float: right;
	text-decoration: none;
	padding: 20px 100px 0 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: black;
}

@media (max-width: 320px) {
	header nav {
		float: none;
		text-align: center;
	}
}

header a {
	color: black;
	text-decoration: none;
	padding: 5px;
}

a.home {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	padding: 0 10px;
	position: relative;
	top: 20px;
}



@media (max-width: 320px) {
	 a.home {
		display: none;
	}
}

img.home {
	padding: 10px 0 0 100px;
	height: 30px;
	float: left;
	clear: left;
}

@media (max-width: 320px) {
	img#logo.home {
		float: none;
		padding: 25px 10px 0 60px;
	}
}
/* Main */
.main {
	width: 45%;
	margin: 0 0 0 100px;
  	float: left;
}
 @media (max-width: 320px) {
 	.main {
 		width: 80%;
 		margin: 20px;
 		float: none;
 	}
 }

h2.main {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 42px;
	margin: 0;
	text-align: left;
	color: #142a3e;
	width: 100%;
	padding-top: 50px;
}

@media (max-width: 320px) {
 	h2.main {
 		font-size: 48px;
 		margin: 0px;
 		padding-top: 20px;
 }
}
article {
	clear: both;
}

@media (max-width: 320 px) {
	article {
		margin: 10px;
	}
}

p.text {
	padding: 20px 0 0 0;
	text-align: left;
	line-height: 20px;
	font-size: 13px;
	word-wrap: normal;
}

.block-quote {
	margin: 200px;
	border-left: solid 2px gray;
	color: #20659c;
	text-transform: uppercase;
	font-size: 24px;
	margin: 15px;
	padding: 15px;
}

p#byline {
	color: gray;
	display: inline;
	font-size: 12px;
}

span.blue {
	color: #20659c;
}

img#tinyauthorpic {
	width: 40px;
	height: 40px;
	color:#142a3e;
	border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}

@media (max-width: 320px) {
	img#tinyauthorpic{
		display: none;
	}
}

div#buttons {
	clear: both;
	padding-top: 20px;
}

.buttons  {
	background: #9cacb3;
	padding: 5px 12px;
}


a.buttons {
	margin: 0 5px;
	color: white;
	font-size: 10px;
	padding: 5px 5px 5px 0px;
}

a.buttons:hover {
	background-color: #20659d;
}

/*@media (max-width: 320px) {
	a.buttons {
		display: none;
	}
}*/

.buttons i {
	background-color: #596265;
	padding: 5px 5px;
}

a.buttons:hover > i {
	background-color: #162d40;
}

@media (max-width: 320px) {
	 i > a.buttons {
		display: none;
	}
}

/* Sidebar */
aside {
	width: 25%;
	float: right;
	margin-right: 100px;
	color: gray;
}

@media (max-width: 320px) {
	aside {
		width: 80%;
		float: none;
		margin: 45px;
	}
}

#author {
	width: 100%;
	margin: auto;
}

aside h2 {
	font-family: "Oswald", sans-serif;
	color: #20659c;
	font-size: 16px;
	text-transform: uppercase;
	padding: 25px 0 10px 20px;
}

aside h3 {
	color: #20659c;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	width: 100%
}

@media (max-width: 320px) {
	aside h3 {
		font-size: 16px;
	}
}


aside h2 p {
	text-align: right;
	text-decoration: none;
}

aside p {
	text-align: left;
	font-size: 13px;
	line-height: 18px;
	padding-left: 20px;
}

aside a {
	font-family: "Asap", sans-serif;
	font-size: 10px;
}

aside a#art {
	display: inline;
	margin-left: 160px;
	color: gray;
}

aside img {
	height: 150px;
	width: 200px;
	padding-left: 20px;
}

#authorpic {
	width: 100%;
}

@media (max-width: 320px) {
	#authorpic {
}
}

#authorpic img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin: 50px 0 10px 45px;
	padding-left: 0px;
	position: relative;
	left: 50px;
}

#authortext {
	width: 100%;
}

nav#social-links {
	text-align: center;
	padding-bottom: 20px;
	width: 100%
}

#social-links a {
	color: gray;
	font-size: 9px;
	text-decoration: none;
	padding: 2px;
}

@media (max-width: 320px) {
	#social-links a {
		font-size: 12px;
	}
}

/* Section: Popular Posts */
section {
	width: 100%;
}

@media (max-width: 320px) {
	section {
		width: 91%;
		margin: 5px;
		padding: 10px;
	}
}

section h2 {
	text-transform: uppercase;
	font-size: 48px;
	clear:both;
	background: none;
	font-family: Oswald;
	padding: 100px 0 25px 0;
	text-align: center;
	color: #142a3e;
}

@media (max-width: 320px) {
	section h2 {
		font-size: 32px;
		padding: 25px 0;
		width: 100%;
	}
}

#posts {
 	width: 100%;
 	height: 300px;
 	background: rgb(36, 105, 159);
 	overflow: hidden;
}

@media (max-width: 320px) {
	#posts {
		height: auto;
	}
}

#posts div {
	width: 25%;
	float: left;
	opacity: 0.5;
	overflow: hidden;
}

@media (max-width: 320px) {
	#posts div {
		float: none;
		width: 100%;
	}
}

#posts a {
	font-family: Oswald;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	margin-top: 250px;
	width: 25%;
	}

#posts div a:hover {
 	opacity: 1;
 	color: white;
 	background: none;
 }

#posts div a:hover > div {
 	opacity: 1;
 	background: none;
 }

#posts img {
	height: 300px;
}

@media (max-width: 320px) {
	#posts img {
		max-width: 100%;
		height: auto;
	}
}
 
/* Bottom Footer*/

footer {
	margin: 0;
	background: #152a3e;
	height: 80px;
	color: lightslategray;
	font-size: 13px;
}

@media (max-width: 320px) {
	footer {
		height: auto;
	}
}

footer ul {
	float: right;
	padding: 36px;
	margin-right: 50px;
	color: gray;
}

@media (max-width: 320px) {
	footer ul {
		float: none;
	}
}

footer li {
	display: inline;
	font-size: 11px;
	float: right;
	text-align: right;
	padding: 0 5px;
	border-left: solid 1px gray;
}

@media (max-width: 320px) {
	footer li {
		float: none;
	}
}

footer li:last-child {
	border: none;
}

footer p {
	color: gray;
	font-size: 11px;
	float: left;
	vertical-align: middle;
	padding: 36px 0 0 10px;
}

 footer img {
 	height: 36px;
	padding: 20 10 20 150;
	float: left;
	padding: 20;
	padding-top: 20px;
	padding-left: 50px;
 }

@media (max-width: 320px) {
	footer img {
		float: none;
		margin: 80px 0 0 80px;
		height: 50px
	}
}
	