/*
Syntax error: Invalid CSS after " //Variables": expected selector or at-rule, was "$darkblue: #152..."
        on line 6 of main.scss

1: @import "reset.scss";
2: @import "http://fonts.googleapis.com/css?family=Asap|Oswald|PT Sans' rel='stylesheet' type='text/css"
3: //@import "http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"
4:  
5:  //Variables
6: $darkblue: #152a3e;
7: $bluefilter: rgba(36, 105, 159, 0.8);
8: $header-font: 'Oswald', sans-serif;
9: $text-font: 'Asap', sans-serif;
10: $breakpoint: 320px;
11: 

Backtrace:
main.scss:6
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1312:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1248:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:250:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.8/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \" //Variables\": expected selector or at-rule, was \"$darkblue: #152...\"\A         on line 6 of main.scss\A \A 1: @import \"reset.scss\";\A 2: @import \"http://fonts.googleapis.com/css?family=Asap|Oswald|PT Sans' rel='stylesheet' type='text/css\"\A 3: //@import \"http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css\" rel=\"stylesheet\"\A 4:  \A 5:  //Variables\A 6: $darkblue: #152a3e;\A 7: $bluefilter: rgba(36, 105, 159, 0.8);\A 8: $header-font: 'Oswald', sans-serif;\A 9: $text-font: 'Asap', sans-serif;\A 10: $breakpoint: 320px;\A 11: "; }
